@media (max-width:767px) {
    @import 'mixins';

    .Header_menu {
        grid-template-columns: 2% 1fr 2fr 1fr;
    }

    .Product {
        min-height: 363px;
    }

    .preview_1 {
        display: none;
    }

    .Group_10 {
        width: 263px;
        height: 66px;
        align-items: center;
        margin-right: 0;
    }

    .Rectangle_16 {
        width: 12px;
        height: 78px;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .Group_10__p {
        width: auto;
        height: auto;

        &__text {
            font-size: 38px;
        }
        
        &__text:nth-child(2) {
            font-size: 20px;
        }
        
        &__text:last-child {
            font-size: 20px;
        }
    }

   .offer {
        &__layers {
            @include columnCenter;
            justify-content: center;
        }

        &__card:last-child {
            max-width: 360px;
            height: 111px;
            grid-column: 1;
        }
   }

    .product__box {
        @include columnCenter;
        justify-content: center;
    }

    .footer {
        @include columnCenter;
    }
}