@import 'vars';
@import 'mixins';

.Breadcrumb {
    max-width: $maxWidth;
    height: 148px;
    width: 100vw;
    @include rowCenter;
    justify-content: space-around;

    &__title {
        width: 194px;
        height: 29px;

        &__text {
            color: $colorSite;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
        }
    }

    &__path {
        width: 209px;
        height: 17px;

        &__text {
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            text-align: left;
            color: $gray;        }

        &__text:last-child {
            color: $colorSite;
        }
    }
}

.slide {
    width: 100vw;
    max-width: $maxWidth;
    height: 777px;
    @include rowCenter;
    justify-content: space-between;

    &__image {
        max-width: 100%;
        height: 100%;
    }

    &__button {
        width: 47px;
        height: 47px;
        background-color: $gray;
        opacity: 50%;
        @include rowCenter;
        justify-content: center;
        
        &__svg {
            fill: $dark;
            transition: all 0.3s;
        }
        
        &__svg:hover {
            fill: $colorSite;
        }
    }
}

.product_description {
    width: 100vw;
    max-width: $maxWidthSecond;
    height: 600px;
    @include columnCenter;
    justify-content: space-evenly;
    padding-top: 65px;
    padding-bottom: 65px;
    
    &__title_1 {
        width: 148px;
        height: 17px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        text-align: left;
        color: $colorSite;
    }

    &__rectangle_1 {
        width: 63px;
        height: 3px;
        background-color: $colorSite;
    }

    &__title_2 {
        width: 254px;
        height: 22px;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        text-align: left;
        color: $gray;
    }

    &__space {
        height: 48px;
    }

    &__text {
        width: 550px;
        height: 52px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
        color: $gray;
    }

    &__price {
        width: 56px;
        height: 30px;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        text-align: left;
        color: $colorSite;
    }

    &__rectangle_2 {
        width: 642px;
        height: 1px;
        background-color: $colorSite;
    }

    &__sort {
        width: 373px;
        height: 17px;
        @include row;
        gap: 23px;

        &__group {
            @include row;
            gap: 8px;

            &__text {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                text-align: left;
                color: $gray;
            }
        }
    }

    &__add {
        display: flex;
        position: relative;
        border: 1px solid $colorSite;
        color: $colorSite;
        width: 212px;
        height: 48px;
        text-align: left;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        justify-content: center;
        gap: 40px;
         
        &__svg {
            fill: $colorSite;
        }
    }

    &__add:hover {
        box-shadow: 0 0 5px $gray;
    }
}

.subscribe_background {
    position: absolute;
    width: 100vw;
    max-width: $maxWidth;
    height: 448px;
    opacity: 50%;
    z-index: 0;
    overflow: hidden;

    &__image {
        width: $maxWidth;
        height: 448px;
        object-fit: cover;
    }
}

.subscribe_box {
    width: 100vw;
    max-width: $maxWidth;
    height: 448px;
    display: flex;
}

.subscribe {
    position: absolute;
    width: 100vw;
    max-width: $maxWidth;
    height: 448px;
    @include rowCenter;
    justify-content: space-around;
    z-index: 1;

    &__info {
        @include columnCenter;

        &__image {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: stretch;

            &__content {
                width: 150px;
                height: 130px;
                object-fit: cover;
            }
        }

        &__text {
            width: 360px;
            font-style: italic;
            font-size: 20px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 50px;
        }
        
    }

    &__subscribe {
        @include columnCenter;

        &__title {
            font-size: 20px;
            font-weight: bold;
        }

        &__text {
            height: 44px;
            font-size: 18px;
        }

        &__input {
            width: 350px;
            height: 50px;
            @include row;

            &__field {
                width: 250px;
                height: 50px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-style: none;
                padding-left: 30px;
                background-color: rgb(225, 225, 225);
            }

            &__button {
                width: 100px;
                height: 50px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                border-style: none;
                background-color: $colorSite;
                color: white;
                transition: all 0.3s;
            }

            &__button:hover {
                box-shadow: 0 0 5px $gray;
            }
        }
    }
}

.footer {
    @include rowCenter;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-around;

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: white;
    }

    &__brands {
        @include row;
        gap: 8px;

        &__box {
            width: 32px;
            height: 32px;
            @include rowCenter;
            justify-content: center;
            background-color: white;
        }
    }
}
